mods/_core/imscp/glossary.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.atutor.ca/xsd/glossary" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.atutor.ca/xsd/glossary" elementFormDefault="unqualified">
  <xs:complexType name="glossaryItem">
    <xs:sequence>
	<xs:element name="term" type="xs:string"/>
	<xs:element name="definition" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="glossary" type="glossaryType"/>
  <xs:complexType name="glossaryType">
    <xs:sequence>
      <xs:element name="item" type="glossaryItem" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
