docs/tools/ims/glossary.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.atutor.ca/xsd/glossary" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.atutor.ca/xsd/glossary" elementFormDefault="unqualified">
  <xs:element name="glossary" type="glossaryType"/>
  <xs:complexType name="glossaryType">
    <xs:sequence>
      <xs:element name="item">
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="term" type="xs:string"/>
		<xs:element name="definition" type="xs:string"/>
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
